# frozen_string_literal: true

require 'sequel'
<%= config[:gem_constant_name] %> = Sequel.sqlite(
  File.expand_path('../extdata/<%= config[:bioc_sqlite_database_name] || "*.sqlite" %>', __dir__),
  readonly: true
)
